.th-container {
  padding-left: 8%;
  padding-right: 8%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 1400px) {
  .th-container {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media only screen and (max-width: 768px) {
  .th-container {
    padding-left: 4%;
    padding-right: 4%;
  }
}
